<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>템플릿 상속</title>
    <!-- 부트스트랩 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1>
        <br>
        내집 어디있조?
        <br>
    </h1>
    <!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-primary navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/myApp/home/" style="color:white">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myApp/apartment/" style="color:white">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myApp/search/" style="color:white">Search</a>
      </li>

    </ul>
  </nav>

          <!-- Header-->
          <header class="bg-dark py-5" >
            <img src="/static/myApp/dari.jpg" class="rounded mx-auto d-block">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">부산광역시 재건축 아파트</h1>
                    <p class="lead fw-normal text-white-50 mb-0">우리 함께 찾아보조!</p>
                </div>
            </div>
          </header>
          <table class="table">
            <thead class="thead-dark" style="width:1050px">
              <tr>
                <th>아파트명</th>
                <th>건축일</th>
                <th>면적</th>
                <th>높이</th>
                <th>주소</th>
                <th>도로명주소</th>
                <th>도로명본번</th>
                <th>지번</th>
                <th>실거래가(단위: 만 원)</th>
                <th>거래일자</th>
              </tr>
            </thead>
            <tbody>
              {% for apartment_name, build_year, area, floor, dong, road_name, road_name_bonbun, jibun, deal_amount, deal_day in data_list %}
                <tr>
                    <td>{{apartment_name}}</td>
                    <td>{{build_year}}</td>
                    <td>{{area}}</td>
                    <td>{{floor}}</td>
                    <td>{{dong}}</td>
                    <td>{{road_name}}</td>
                    <td>{{road_name_bonbun}}</td>
                    <td>{{jibun}}</td>
                    <td>{{deal_amount}}</td>
                    <td>{{deal_day}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <footer class="py-5 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">우리 잘했조!</p>
                    <br>
                    <br>
                    <table class="text-white center">
                        <tbody>
                        <tr>
                            <th>팀장&nbsp;&nbsp;</th>
                            <td>이상민</td>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메인PD&nbsp;&nbsp;</th>
                            <td>안진우</td>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메인작가&nbsp;&nbsp;</th>
                            <td>이도희</td>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;알바&nbsp;&nbsp;</th>
                            <td>정용건</td>
                        </tr>
                        </tbody>
                    </table>
                
                </div>
                </footer>
                </body>
                </html>