{% extends 'myApp/base.html' %}
{% block content %}
<!-- Header-->
<!-- Page Content-->
        <!-- Page Features-->
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_1.html' ">
                <div class="card bg-primary rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">조화로운 성장<br> 삶이 아름다운</p>
                        <br>
                        <h2 class="fs-4 fw-bold">강서구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_2.html' ">
                <div class="card bg-primary rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                        <p class="mb-0">구민과 함께하는 <br>행복도시</p>
                        <br>
                        <h2 class="fs-4 fw-bold">사하구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_8.htm3' ">
                <div class="card bg-primary rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                        <p class="mb-0">신나는!!</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">사상구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_4.html' ">
                <div class="card bg-primary rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                        <p class="mb-0">내 삶의 힘이 되는 <br> 새로운</p>
                        <br>
                        <h2 class="fs-4 fw-bold">북구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_5.html' ">
                <div class="card bg-warning rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                        <p class="mb-0">부산의 중심</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">중구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_6.html' ">
                <div class="card bg-warning rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                        <p class="mb-0">부산의 큰 걸음</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">동구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_7.html' ">
                <div class="card bg-warning rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">딱! 살기좋은 도시</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">서구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_8.html' ">
                <div class="card bg-warning rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">세계 평화 특구</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">남구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_9.html' ">
                <div class="card bg-success rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">구민 중심 따뜻한</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">영도구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_10.html' ">
                <div class="card bg-success rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">시민주권 사람중심</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">부산진구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_11.html' ">
                <div class="card bg-success rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">아름답고<br> 주민이 행복한 명품</p>
                        <br>
                        <h2 class="fs-4 fw-bold">수영구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5"type="button" onclick="location.href='home_12.html' ">
                <div class="card bg-success rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">품격있는 도시<br> 상생하는</p>
                        <br>
                        <h2 class="fs-4 fw-bold">연제구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_13.html' ">
                <div class="card bg-danger rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">살기 좋은</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">동래구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_14.html' ">
                <div class="card bg-danger rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">구민이 주인인<br> 정의로운</p>
                        <br>
                        <h2 class="fs-4 fw-bold">금정구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_15.html' ">
                <div class="card bg-danger rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">사람중심 미래도시</p>
                        <br>
                        <br>
                        <h2 class="fs-4 fw-bold">해운대구</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5" type="button" onclick="location.href='home_16.html' ">
                <div class="card bg-danger rounded-circle border-0 h-100">
                    <span style="color:white">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <p class="mb-0">빛과 물 그리고<br> 꿈의 도시</p>
                        <br>
                        <h2 class="fs-4 fw-bold">기장군</h2>
                    </span>
<!--                        <button type="button" onclick="location.href='joinUs.jsp' ">바로가기</button>-->

                    </div>
                </div>
            </div>
            {% endblock %}
